p{
    font-size: 50px;
    text-align:center;

}


img{
    border-radius:50%;
    width:600px;
    height:600px;
}
fieldset{
    text-align: center;
    background-color: dimgray;
    border-radius: 0rem;
    margin: 300px;
    

}
body{
    background-color:darkgray;
    text-align: center;
    background-image: url("C:\Users\PC-A06\Desktop\ws_Pika_Glacier,_Alaska_1600x1200.jpg");
}